<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" href="/stylesheets/custom.css"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/loginjs.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<title>YangGoon</title>
</head>
<body>
	<div class="container">
		<h1 class="text1">Yang ♡ Goon</h1>
		<div class="col-xs-12 col-md-offset-3 col-md-6">
			<input type="text" class="form-control" name="id" id="id" placeholder="ID"/>
			<input type="password" class="form-control" name="password" id="password" placeholder="PW"/>
			<input type="button" id="loginBtn" class="form-control color1" value="로그인"></button>
			<a href="/join" class="form-control color2">회원가입</a>
		</div>
	</div>
</body>
</html>