<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" href="/stylesheets/custom.css"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/mainjs.js"></script>
	<script src="/javascripts/main-header.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<title>YangGoon</title>
</head>
<body>
	<div id="header"></div>
	<div id="main-body">
		<div id="write-letter"></div>
		<div id="read-letter"></div>
	</div>
</body>
</html>