<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" href="/stylesheets/custom.css"/>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="/javascripts/mainjs.js"></script>
	<script src="/javascripts/main-header.js"></script>
	<script src="/javascripts/write-letter.js"></script>
	<script src="/javascripts/read-letter.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<title>YangGoon</title>
</head>
<body>
	<div id="header"></div>
	<div id="main_body" class="col-xs-12 col-md-offset-3 col-md-6">
		<div id="write_letter"></div>
		<div id="read_letter" num="10" type="1"></div>
	</div>
</body>
</html>